

.zen-maru-gothic-regular {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
  }  

html,body{
    font-family: "Zen Maru Gothic",serif;
    margin: 0;
    overflow-x: hidden;
}

header{
    position: fixed;
    width: 100%;
}
    header img{
        width: 50px;
    }

    header button{
        background: none;
        border: none;
        position: absolute;
        right: 1.5em;
        top: 0;
        text-decoration: none;
        text-align: right;
    }

    header button span{
        background-image: url(./bars.svg);
        background-position: right center;
        background-repeat: no-repeat;
        content: "";
        display: inline-block;
        height: 3.75em;
        vertical-align: top;
        width: 2em;
    }

    .menu{
        position: fixed;
        height: 100vh;
        width: 300px;
        background-color: #8790f3;
        display: none;
        top: 0;
        right: 0;
    }
    .show{
        display: block;
    }
    .menu p{
        margin: 0 0 0 calc(100% - 4em);
        text-align: right;
        background-image: url(./close.svg);
        background-position: right center;
        background-repeat: no-repeat;
        content: "";
        display: inline-block;
        height: 3.75em;
        vertical-align: top;
        width: 2em;
    }
    .menu li{
        list-style: none;
        color: white;
    }


.top{
    height: 70vh;
}
    .top img{
        text-align: center;
        margin: 10vh calc(50vw - 18vw) 5vh calc(50vw - 18vw);
        width: 30vw;
        border-radius: 22%;
        border: #4562A2 2vw solid;
    }
    
    .top .main-text{
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        border-top: white 2px solid;
        border-bottom: white 2px solid;

        
    }

    .top .main-text h2,.top .main-text h1{
        margin: 0.5rem auto;
        text-align: center;
    }

    .top .main-text h1{
        font-size: 3rem;
        color: #4562A2;
    }

    .top .main-text h2{
        font-size: 1rem;
        color: #000000;
    }

    .join{
        width: fit-content;
        border: none;
        background-color: #5865f2;
        margin: 2rem auto 2em auto;
        padding: 0.5em 2em;
        border-radius: 0.5em;
        box-shadow: 0px 0px 10px #4562A2;
    }
    .join:hover{
        background-color: #8790f3;
    }
    .join a{
        color: white;
        text-decoration: none;
        font-size: xx-large;
    }

    .catchphrase{
        text-align: center;
        font-size: 3em;
        background: linear-gradient(90deg,#000000,#8790f3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

h2{
    margin-top: 0;
    text-align: center;
    color: rgb(0, 0, 0);
}

.about{
    width: 500px;
    margin: 0 auto;
    padding: 5vh 0 10vh 0;
    background-size: cover;
    background-position: center;
}

    .about p{
        width: 100%;
        margin: 0;
    }

    #form{
        margin: 0 calc(50vw - 225px);
    }
    
footer p{
    text-align: center;
    background-color: #b5baf7;
    padding-top: 0.5em;
    margin: 0;
}

@media screen and (min-width: 850px){
    .top{
        display: flex;
        align-items: center;
    }
    .top img{
    text-align: center;
    margin: auto;
    width: 30vh;
    border-radius: 22%;
    border: #4562A2 2vh solid;
    }
    .top div{
        margin-right: auto;
    }
}